.main-page{

    height: 95vh;

}

.l-content{
    display: flex;
    padding-top: 10rem!important;
}

.btn-download{
    background-color: #7174fe!important;
    color: white!important;
}

#name{
    font-family: 'Lobster', cursive;
    font-size: 100px;
    line-height: 0.9;
}

@media only screen and (max-width: 767px) {
    #coding {
        display: none;
    }
}
