.contact-page{
    margin-top: 5rem!important;
    margin-bottom: 2rem!important;
    min-height: 60vh;
    
}

.btn-send{
    background-color: #7174fe!important;
    color: white!important;
}
.ui.form .field>label{
    font-size: 1.4rem!important;
    line-height: 2;
}

.ui.form .field .ui.input, .ui.form textarea{
    font-size: 1.2rem!important;
}